* {
    box-sizing: border-box;
}

body {
    color: rgb(37, 37, 37);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e6e6e6;
    font-family: 'Rockwell';
    margin: 0;
    min-height: 100vh;
}

h1 {
    color: rgb(9, 95, 144);
    font-size: 6rem;
    text-align: center;
    opacity: 0.6;
    text-shadow: 3px 3px black;
}

form {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    width: 400px;
    max-width: 100%;
}

.input {
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    padding: 1rem 2rem;
    display: block;
    width: 100%;
}

.input::placeholder {
    color: rgb(141, 131, 131);
    opacity: 0.4;
}

.todos {
    border-radius: 10px;
    background-color: white;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.todos li {
    border-radius: 10px;
    cursor: pointer;
    border-top: 1px solid #cfc7c7;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

.todos li.dragging {
    opacity: 0.6;
}

.todos li.completed {
    border-radius: 10px;
    color: #b6b6b6;
    text-decoration-line: line-through;
    text-decoration-color: red;
} 

small {
    color: #b5b5b5;
    margin-top: 3rem;
}

.reset {
    cursor: pointer;
    margin-top: 5rem;
    color: red;
    font-weight: bold;
    font-size: 0.8rem;
}

.dark-mode {
    cursor: pointer;
};